/* for tablets width = 800px */

@media only screen and (max-width: 800px) {

/* form */
.go_back{ 
    font-size: 1.2rem;
}

.admin_message_container{
    width: 90vw; 
    grid-template-columns: repeat(2, 1fr);
}

}

/* for mobile width = 500px */

@media only screen and (max-width: 500px) {

/* form */
.admin_message_container{
    grid-template-columns: 1fr;
}

.btns{
    width: 100px;
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}

}